<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" value="{{item.name}}" placeholder="Name"/></h1>
     </header>
     <div>
        <table>
            <tr>
                <th>Trait</th>
                <th>Range</th>
                <th>Damage</th>
                <th>Damage Type</th>
                <th>Burden</th>
                <th>Feature</th>
            </tr>
            <tr>
                <td>
                    <select name="data.traits">
                        {{#select data.traits}}
                        {{#each config.traits as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.range">
                       {{#select data.range}}
                        {{#each config.attackRange as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                   <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="number"/>
                </td>
                <td>
                    <select name="data.damageType">
                      {{#select data.damageType}}
                      {{#each config.damageType as |name type|}}
                      <option value="{{type}}">{{name}}</option>
                      {{/each}}
                       {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.burden">
                       {{#select data.burden}}
                       {{#each config.itemBurden as |name type|}}
                       <option value="{{type}}">{{name}}</option>
                       {{/each}}
                       {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.feature" type="text" value="{{data.feature}}"/>
                </td>
            </tr>
        </table>
        <textarea name="data.description" placeholder="Weapon Description">{{data.description}}</textarea>
     </div>
</form>